<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入angularJS依赖 -->
    <script src="../plugins/angularjs/angular.min.js"></script>

    <!-- angular JS分页组件 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- angular JS分页组件 -->

    <!-- 引用外部js模块 -->
    <script src="../js/bacs-pagination.js"></script>
    <script src="../js/service/brandService.js"></script>
    <script src="../js/controller/brandController.js"></script>
    <!-- 引用外部js模块 -->

    <script>
        // var app = angular.module('brandApp', ['pagination']);

       /* app.service('brandService',function ($http) {
            this.search = function (currPage,pageSize,searchEntity) {
                return $http.get('../brand/search.do?currPage=' + currPage + '&pageSize=' + pageSize,searchEntity)
            };


            this.save = function (entity) {
                return $http.post('../brand/save.do', entity);
            };

            this.update = function (entity) {
                return $http.post('../brand/update.do', entity);
            };


            this.findOne = function (id) {
                return $http.get("../brand/findOne.do?id=" + id);
            };


            this.remove = function (selectIds) {
                return $http.get("../brand/remove.do?ids=" + selectIds)
            };

        });*/


        /*app.controller('brandController', function ($scope, $http) {
            //查询所有
            $scope.reloadList = function () {
                $scope.search(
                    $scope.paginationConf.currentPage,
                    $scope.paginationConf.itemsPerPage
                );
                //每次删除操作后清空id数组
                $scope.selectIds = [];
            };

            //分页属性配置
            $scope.paginationConf = {
                currentPage: 1,
                totalItems: 10,
                itemsPerPage: 8,
                perPageOptions: [10, 20, 30, 40, 50],
                onChange: function () {
                    $scope.reloadList();//重新加载
                }
            };
            //分页查询(已代替)
            /!*$scope.findPage = function (currPage, pageSize) {
                $http.get('../brand/findByPage.do?currPage=' + currPage + '&pageSize=' + pageSize).success(
                    function (data) {
                        $scope.list = data.rows;
                        $scope.paginationConf.totalItems = data.total;//更新总记录数
                    }
                );
            };*!/

            //新增/修改品牌
            $scope.save = function () {
                var object = brandService.save($scope.entity);
                if ($scope.entity.id != null) {
                    object = brandService.update($scope.entity);
                }

                object.success(
                    function (data) {
                        if (data.success) {
                            $scope.reloadList();//重新加载
                        } else {
                            alert(data.message);
                        }
                    }
                )
            };

            //修改回显
            $scope.findOne = function (id) {
                brandService.findOne(id).success(
                    function (data) {
                        $scope.entity = data;
                    }
                )
            };


            //选中的id集合
            $scope.selectIds = [];

            //更新复选
            $scope.updateSelection = function ($event, id) {
                if ($event.target.checked) {
                    $scope.selectIds.push(id);//将选中id添加到集合
                } else {
                    var idx = $scope.selectIds.indexOf(id);
                    $scope.selectIds.splice(idx, 1);//删除集合中非选id
                }
            };


            //全选
            $scope.selectAll = function ($event) {
                if ($event.target.checked) {
                    $scope.isAllSelect = true;
                    $scope.isSelect = true;
                    angular.forEach($scope.list, function (entity, index) {
                        $scope.selectIds.push(entity.id);
                    });
                } else {
                    $scope.isAllSelect = false;
                    $scope.isSelect = false;
                    $scope.selectIds = [];
                }
            };


            //批量删除
            $scope.remove = function () {

                if (confirm("确定要删除吗?")) {
                    brandService.remove($scope.selectIds).success(
                        function (data) {
                            if (data.success) {
                                $scope.reloadList();
                            } else {
                                alert(data.message);
                            }

                        }
                    )
                }
                //每次删除操作后情况id数组（建议将此操作放入reloadList）
                // $scope.selectIds = [];
            };

            //查询条件
            $scope.searchEntity= {};

            //条件分页查询
            $scope.search = function (currPage,pageSize) {
                brandService.search(currPage,pageSize,$scope.searchEntity).success(
                    function (data) {
                        $scope.list = data.rows;
                        $scope.paginationConf.totalItems = data.total;//更新总记录数
                    }
                )
            }

        });*/
    </script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="brandApp" ng-controller="brandController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">品牌管理</h3>
</div>
<!--{{selectIds}}-->
<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" ng-click="findOne(0)"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="remove()"><i
                            class="fa fa-trash-o"></i> 删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                品牌名称：<input ng-model="searchEntity.name" > 品牌首字母： <input ng-model="searchEntity.firstChar">
                <button type="button" class="btn btn-default" title="查询" ng-click="reloadList()" >查询</button>
            </div>
        </div>
        <!--工具栏/-->
        <!--{{selectIds}}-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue" ng-checked="isAllSelect"
                           ng-click="selectAll($event)">
                </th>
                <th class="sorting_asc">品牌ID</th>
                <th class="sorting">品牌名称</th>
                <th class="sorting">品牌首字母</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox" ng-checked="isSelect" ng-click="updateSelection($event,entity.id)"></td>
                <td>{{entity.id}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.firstChar}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="findOne(entity.id)">修改
                    </button>
                </td>
            </tr>
            <!-- <tr>
                 <td><input  type="checkbox"></td>
                 <td>2</td>
                 <td>华为</td>
                 <td>H</td>
                 <td class="text-center">
                      <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>
                 </td>
             </tr>
             <tr>
                 <td><input  type="checkbox"></td>
                 <td>3</td>
                 <td>三星</td>
                 <td>S</td>
                 <td class="text-center">
                      <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>
                 </td>
             </tr>-->
            </tbody>
        </table>
        <!--数据列表/-->


    </div>
    <!-- 数据表格 /-->

    <!-- 分页导航栏 -->
    <tm-pagination conf="paginationConf"></tm-pagination>


</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>品牌名称</td>
                        <td><input class="form-control" placeholder="品牌名称" ng-model="entity.name"></td>
                    </tr>
                    <tr>
                        <td>首字母</td>
                        <td><input class="form-control" placeholder="首字母" ng-model="entity.firstChar"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>